fastapi
uvicorn
langchain
langgraph
langchain-groq
pydantic
sqlalchemy
pymysql
langchain-community
langchain-core  
streamlit
pandas
IPython
ipykernel
passlib
python-multipart
bcrypt==4.3.0
psycopg2-binary